/* -------------------------------------------------------------------------- */
/* ------------------------------- GENERAL ---------------------------------- */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */  
}
/* Réinitialisation des paramètres de la page web */

/* -------------------------------------------------------------------------- */
/*---------------------------------- BODY ----------------------------------- */
/* -------------------------------------------------------------------------- */

body {
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}

@media screen and (max-width: 640px) {
  body {
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
 }
 /* Format responsive téléphone */

/* -------------------------------------------------------------------------- */
/*--------------------------------- HEADER ---------------------------------- */
/* -------------------------------------------------------------------------- */

h1 {
  color: #ffb3ba;
  font-family: 'Pacifico', cursive;
  margin-left: 20px;
}

@media screen and (max-width: 640px) {
  h1 {
    color: #ffb3ba;
    font-family: 'Pacifico', cursive;
    margin-right: 10px;
  }
}
/* Format responsive téléphone */

.violet {
  color: #cb8fff;
}
/* Style du point sur le logo */

 .container {
  height: 120px;
  width: 0 auto;
  margin: 0 auto;
}
/* Hauteur du container */

 .container h1 {
  float: left;
  margin-top: 32px;
}
/* Flottement à gauche du logo */

nav {  
  float: right;
  margin-right: 50px;
  padding-top: 50px;
}
/* Flottement à droite de la navbar + ajustement en haut et à droite*/

@media screen and (max-width: 640px) {
  nav {
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
  }
}
/* Format Responsive téléphone */

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
/* La navbar alignée sur une ligne */


 nav ul li a {
  font-family: 'Indie Flower', cursive;
  color: #0086ad;
  font-weight: bold;
  font-size: 20px;
}
/* Font + couleur appliquée sur la navbar */

@media screen and (max-width: 640px) {
  nav ul li a {
    font-family: 'Indie Flower', cursive;
    color: #0086ad;
    font-weight: bold;
    font-size: 15px;
  }
}
/* Format Responsive téléphone */

a {
  text-decoration: none;
} 
/* Supprime le soulignement des liens de la navnar */

a:hover {
color: #cb8fff;
}

ul {
  list-style: none;
}
/* Supprime les puces de la navbar */

/* -------------------------------------------------------------------------- */
/*------------------------------- MAIN IMAGE -------------------------------- */
/* -------------------------------------------------------------------------- */

#image_principale {
  height: 480px;
  background: url(./images/bluewool.jpg) center;
  border-radius: 20px;
}

@media screen and (max-width: 640px) {
  #image_principale{
  height: 200px;
  background: url(./images/bluewool.jpg) center;
  border-radius: 20px;
  }
}
/* Format Responsive téléphone */

#image_principale h2 {
  font-family: 'Varela Round', sans-serif;
  color: #0086ad;
  font-size: 50px;
  text-align: center;
  padding: 50px 0 40px 0;
}

@media screen and (max-width: 640px) {
  #image_principale h2 {
  font-family: 'Varela Round', sans-serif;
  color: #0086ad;
  font-size: 20px;
  text-align: center;
  padding: 25px 0 25px 0;
  }
}
/* Format Responsive téléphone */

.transparent {
  background: rgba(255, 255, 255, 0.5);
}